/******FOR SMALL DESKTOPS******/

@media (max-width: 101em) {
  .hero-text {
    font-size: 3rem;
  }
}

@media (max-width: 104em) {
  .headline {
    font-size: 5.2rem;
  }
}

@media (max-width: 112em) {
  .how-to-txt {
    font-size: 1.8rem;
  }
}

@media (max-width: 110em) {
  .Features div p {
    font-size: 2em;
  }
}

/*****RESPONSIVE NAV******/
@media (max-width: 94em) {
  .open-mobile-menu[name="menu-outline"] {
    display: block;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    background-color: rgba(255, 255, 255, 0.521);
    transform: translateX(100%);
    /*Hiding from pointer and keyboard*/
    pointer-events: none;
    /*Hiding from screen reader*/
    visibility: hidden;
  }

  .mobile-nav-open .main-nav {
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav li a {
    font-size: 4.4rem;
  }

  /*Visually hiding*/
  .mobile-nav-open .logo,
  .mobile-nav-open .Hero-Section {
    opacity: 0;
  }

  .mobile-nav-open .close-mobile-menu[name="close-outline"] {
    display: block;
  }
  .mobile-nav-open .open-mobile-menu[name="menu-outline"] {
    display: none;
  }
}

/*****RESPONSIVE NAV******/
/******FOR LANDSCAPE TABLETS******/
/*Making everything smaller*/
@media (max-width: 75em) {
  /*9px/16px = 0.5625*/
  html {
    font-size: 56.25%;
  }
  .logo-text {
    font-size: 8.6rem;
  }
  .headline {
    font-size: 4.4rem;
  }

  .second-features {
    column-gap: 4.4rem;
  }

  .about-headline {
    padding: 3.2rem 2.4rem;
  }
  .about-txt {
    padding: 0 2.4rem 3.2rem;
  }

  .from-txt {
    padding: 0 3.2rem 7.2rem;
  }

  .cta {
    margin: 0 3.2rem 0;
  }

  .text-cuffs {
    left: 79%;
  }

  .Hero-Section {
    padding-right: 3.2rem;
    line-height: 1.2;
  }
}

/******FOR TABLETS*****/
@media (max-width: 62em) {
  /*1rem = 8px*/
  html {
    font-size: 50%;
  }

  .Hero-Section {
    left: 55%;
  }

  .hero-text {
    font-size: 2.4rem;
  }

  .signin-btn {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }
  .header-btn {
    padding: 1rem 1.2em;
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .how-to-txt {
    font-size: 1.6rem;
  }

  .text-cuffs {
    left: 77%;
  }
  .text-coats {
    left: 30%;
  }

  .logos-section img {
    height: 3.6rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
  .message-div {
    position: relative;
  }
  #message {
    grid-row: 5;
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    margin-top: 1rem;
  }
  .submit-btn {
    grid-row: 6;
    margin-top: 2rem;
  }

  .featured-headline {
    font-size: 2.4rem;
  }

  .link {
    font-size: 1.2rem;
  }

  .grid-footer {
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  }

  .Testimonial-text {
    font-size: 3.2rem;
  }

  .customer-name {
    font-size: 2.4rem;
  }

  .Customer-img {
    max-width: 80%;
  }
}

/*******FOR TABLETS******/
@media (max-width: 47em) {
  .second-features {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    padding: 3.2rem 2.4rem;
  }

  .custom-cuffs {
    grid-column: span 3;
    justify-self: center;
    width: 199px;
  }
  .text-vests {
    top: 30%;
    left: 15%;
  }
  .text-coats {
    top: 30%;
    left: 40%;
  }
  .text-ties {
    top: 30%;
    left: 75%;
  }
  .text-cuffs {
    top: 70%;
    left: 42%;
  }
}

/******FOR PHONES******/
@media (max-width: 39em) {
  .logo-link {
    display: inline-block;
    font-size: 7.2rem;
    left: 30%;
  }

  .headline {
    font-size: 2.4rem;
  }

  .Hero-Section {
    position: absolute;
    top: 26%;
    left: 50%;
  }
  main section .Hero-text {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  main section a p:last-child {
    display: inline-block;
    font-size: 1.4rem;
  }

  main section a {
    display: inline-block;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  .How-to {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .how-to-txt {
    font-size: 1.4rem;
  }

  .how3 {
    padding-top: 8px;
    margin-top: 0;
  }

  .Features {
    border-top: 1px solid #dee2e6;
  }

  .first-feature {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .first-feature img {
    max-width: 80%;
  }

  .second-features {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 5.2rem;
    column-gap: 0;
  }

  .second-features img {
    max-width: 60%;
    column-gap: 0;

    justify-items: center;
  }

  .text-tux {
    top: 20%;
    left: 39%;
  }
  .text-pants {
    top: 55%;
  }
  .text-shirts {
    top: 88%;
    left: 42%;
  }
  .Custom-vests {
    grid-row: 1;
    display: inline-block;
  }
  .text-vests {
    top: 15%;
    left: 46%;
  }
  .Custom-coats {
    grid-row: 2;
  }
  .text-coats {
    top: 40%;
    left: 40%;
  }
  .Custom-tie {
    grid-row: 3;
  }
  .text-ties {
    top: 65%;
    left: 42%;
  }
  .Custom-cuffs {
    grid-row: 4;
  }
  .text-cuffs {
    top: 90%;
    left: 40%;
  }

  .link {
    margin-top: 3.2rem;
  }

  .Featured-in h2 {
    font-size: 1.4rem;
  }

  .logos-section img {
    height: 2rem;
  }

  footer {
    max-width: 120rem;
  }

  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-footer {
    column-gap: 1rem;
    row-gap: 5.2rem;
  }
  .logo-col,
  .contact-col {
    grid-row: 2;
    grid-column: span 3;
  }

  .company-col {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 2;
  }
  .policy-col {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 2;
  }
  .account-col {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 2;
  }
  .copyright {
    margin-top: 1rem;
  }

  .contact-col address a:first-child {
    display: inline-block;
    margin-top: 1rem;
  }
}

@media (max-width: 22rem) {
  .logo a {
    font-size: 3.2rem;
  }

  .Headline {
    font-size: 3rem;
  }

  main section .Hero-text {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .Hero-Section {
    position: absolute;
    top: 28%;
    left: 16%;
  }
  .how-to-txt {
    font-size: 1.4rem;
  }
  .Featured-in h2 {
    font-size: 1.2rem;
  }
  .logos-section img {
    height: 1.8rem;
  }
  .Testimonial-text {
    font-size: 2rem;
  }
  .Customer-img {
    align-self: center;
    justify-self: center;
    height: 50%;
  }
}
/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
